.question-wrapper {
  background-color: #f54123;
  display: flex;
}

.question-wrapper > div {
  display: block;
  width: 50px;
  height: 50px;
}

.answer-wrapper {
  background-color: #000000;
}

.response-wrapper {
  background-color: #0b3536;
  color: #ffffff;
}
