.score {
  background-color: #dbb700;
  color: var(--creme);
  display: flex;
  justify-content: space-around;
}

/* Round */

.flex-wrapper {
  box-shadow: var(--shadow);
  display: flex;
  flex-wrap: wrap;
  margin: .5em auto;
  position: relative;
  width: 100%;
}

canvas,
.question,
.controls {
  flex-basis: calc(100%/3);
  flex-grow: 1;
}

.question {
  align-items: center;
  background-color: var(--creme);
  display: flex;
  justify-content: left;
}

.question > span {
  align-items: center;
  border: solid 1px var(--red);
  box-shadow: var(--shadow);
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 1em;
  width: 50px;
}

.question span {
  color: var(--red);
}

.response-wrapper {
  display: block;
  height: 320px;
  position: relative;
}

.response-wrapper button {
  background-color: var(--dark-grey);
  box-shadow: none;
}

.response-wrapper button:hover {
  color: var(--blue);
}

.response-wrapper button span {
  font-size: 64px;
}

.is-green {
  color: var(--green);
}

.is-orange {
  color: var(--orange);
}

.response {
  align-items: center;
  background-color: var(--dark-grey);
  color: var(--creme);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 100%;
}

.response > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn-no {
  background-color: var(--orange);
}

.btn-yes {
  background-color: var(--green);
}

.controls {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  grid-area: controls;
  justify-content: space-evenly;
  order: 2;
}

.controls button {
  margin: 1em;
}