button {
  background: var(--creme);
  border: none;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 1em;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  transition: background 250ms ease-in-out, color 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  color: var(--blue);
  background: var(--light-grey);
}

button:focus {
  outline: 1px solid var(--creme);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.demo:after {
  content: '';
  width: 100%;
}

.question,
.total,
.answer-wrapper,
.button-wrapper {
  width: 50%;
}

.question {
  background-color: var(--red);
}

.question > div {
  background-color: var(--creme);
}

.total {
  background-color: #dbb700;
  color: var(--creme);
}

.answer-wrapper {
  order: 1;
}

.answer-wrapper canvas {
  background-color:white;
  display: block;
}

.response {
  background-color: var(--dark-grey);
  color: var(--creme);
}

.button-wrapper {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  order: 2;
}
