:root {
  --off-white: #fbfbfb;
  --light-grey: #a5a6a9;
  --creme: #e5e7de;
  --grey: #dddddd;
  --dark-grey: #0b3536;
  --orange: #f67944;
  --blue: #0098d8;
  --green: #3dbd5d;
  --red: #f54123;
  --canvas-width: 250px;
  --container-max-width: 640px;
  --content-padding: 1.2em;
  --shadow: -1px -1px 0 #000003, 1px -1px 0 #000003, -1px 1px 0 #000003,
    1px 1px 0 #000003;
  --light-shadow: -1px -1px 0 #fbfbfb, 1px -1px 0 #fbfbfb, -1px 1px 0 #fbfbfb,
    1px 1px 0 #fbfbfb;
}

html,
body {
  height: 100%;
}

body {
  color: var(--dark-grey);
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
button {
  color: #f1f2f0;
  text-shadow: var(--shadow);
}

h1 {
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 2px;
}

h2,
h3 {
  font-weight: 300;
}

h3 {
  letter-spacing: 3px;
}

.content {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--content-padding);
}

main {
  flex: 1 0 auto;
}

.header,
.footer {
  width: 100%;
}

.header {
  background-color: var(--green);
}

.header .brand {
  color: var(--dark-grey);
  text-shadow: var(--light-shadow);
}

.header h1 {
  color: var(--off-white);
}

.footer {
  flex-shrink: 0;
  background-color: var(--grey);
}

.header .content,
.footer .content {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--content-padding);
}

.header .content {
  padding-bottom: 0;
}

.footer .content {
  position: relative;
}

.product-container {
  display: flex;
  flex-direction: row;
}

canvas {
  align-self: center;
}

.product-container > div {
  flex-basis: calc(var(--container-max-width) + 2.5em - var(--canvas-width));
}

.product-container > div,
.product-container > canvas {
  padding: var(--content-padding);
}

.demo {
  box-shadow: var(--shadow);
  max-width: calc(var(--container-max-width) + 2.5em);
  margin: 0 auto;
}

.demo img {
  width: 100%;
}

.is-cursive {
  font-family: Brush Script MT, cursive;
  font-size: 1.5em;
  font-style: normal;
}

.is-primary {
  color: var(--orange);
}

.is-secondary {
  color: var(--blue);
}

.is-tertiary {
  color: var(--green);
}

.is-quaternary {
  color: var(--red);
}

pre {
  overflow: hidden;
}

.object-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 640px) {
  .wrap {
    flex-wrap: wrap;
  }

  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .product-container > canvas {
    padding: 0 var(--content-padding) var(--content-padding);
  }
}
